// compileCompressed: notify-me.component.css
.contenedor{
    position: relative;
    display: flex;
}
.boton{

}
.clear{
    clear: both;
}
.ventana{
    position: absolute;
    width: 300px;
    padding: 0px 0px;
    background-color: #fff;
    font-size: 1rem;
    z-index: 100;
    overflow: visible;
    top: 100%;
    right: 0%;

    .head_notify{
      padding: 16px;
      border-bottom: 1px solid rgba(0,0,0,0.1);
    }
    .flecha{
        position: absolute;
        display: block;
        background-color: #46aeb1;
        top: 0px;
        left: 50%;
        z-index: 101;
        width: 10px;
        height: 10px;
        transform : translate(-50%, -5px) rotate(45deg);
    	-moz-transform : translate(-50%, -5px) rotate(45deg); /* Firefox */
    	-webkit-transform : translate(-50%, -5px) rotate(45deg); /* Chrome - Safari */
    	-o-transform : translate(-50%, -5px) rotate(45deg); /* Opera */
    }
}
