<!-- Based on http://bootsnipp.com/snippets/featured/responsive-sidebar-menu -->
<app-menu></app-menu>
<div class="container-main">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <hero-view [title]="'Batman'" [poder]="'Super Inteligente'"></hero-view>
                <hero-view [title]="'Superman'" [poder]="'Super fuerza'"></hero-view>
                <notify-me></notify-me>
            </div>
            <div class="col-md-6 col-sm-6">
                <hero-view [title]="'Wonder Woman'" [poder]="'Super Agilidad y poder de los dioses'"></hero-view>
            </div>
        </div>
    </div>
</div>
