<!-- Based on http://bootsnipp.com/snippets/featured/responsive-sidebar-menu -->
<header id="header">
    <head-sym></head-sym>
</header>
<section id="main">
    <div id="s-main-menu">
      <div id="acciones-usuario">

      </div>
      <app-menu></app-menu>
    </div>
    <div id="content" >
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <hero-view class="mdl-card mdl-shadow--2dp" [title]="'Batman'" [poder]="'Super Inteligente'"></hero-view>
                <br>
                <hero-view class="mdl-card mdl-shadow--2dp" [title]="'Superman'" [poder]="'Super fuerza'"></hero-view>
            </div>
            <div class="col-md-6 col-sm-6">
                <hero-view class="mdl-card mdl-shadow--2dp" [title]="'Wonder Woman'" [poder]="'Super Agilidad y poder de los dioses'"></hero-view>
            </div>
        </div>
    </div>
</section>
