/* remove outer padding */
.container-main .row{
    padding: 0px;
    margin: 0px;
}
/*Allow main to be next to Nav*/
.container-main{
    position: absolute;
    width: 100%; /*keeps 100% minus nav size*/
    float: right;
}
@media (min-width: 768px) {

    /*Allow main to be next to Nav*/
    .container-main{
        position: absolute;
        width: calc(100% - 40px); /*keeps 100% minus nav size*/
        margin-left: 30px;
        float: right;
    }

    /*lets nav bar to be showed on mouseover*/
    nav.sidebar:hover + .container-main{
        margin-left: 300px;
    }
}
@media (min-width : 1330px) {
    /*Allow main to be next to Nav*/
    .container-main{
        position: absolute;
        width: calc(100% - 300px); /*keeps 100% minus nav size*/
        margin-left: 300px;
        float: right;
    }

    /*lets nav bar to be showed on mouseover*/
    nav.sidebar:hover + .container-main{
        margin-left: 300px;
    }
}
