// compileCompressed: menu.component.css
/*----------------------------------
    Main menu
-----------------------------------*/
 
.main-menu {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.main-menu a {
  color: #4c4c4c;
}

.main-menu > li > a {
  padding: 16px 25px 16px 75px;
  display: block;
  position: relative;
  font-weight: 700;
}

.main-menu > li > a:hover {
  background-color: #F3F3F3;
}

.main-menu > li > a > i {
  font-size: 22px;
  margin-left: -32px;
}

@media (max-width: 1279px) {
  .main-menu {
    height: 100%;
    overflow-y: auto;
  }
}

/*----------------------------------
    Sub menu
-----------------------------------*/

.sub-menu > a {
  position: relative;
}

.sub-menu > a:before,
.sub-menu > a:after {
  position: absolute;
  top: 14px;
  color: #9ba1b1;
  font-family: 'Material-Design-Iconic-Font';
  font-size: 17px;
  right: 25px;
  opacity: 0;
  filter: alpha(opacity=0);
}

.sub-menu > a:before {
  content: "\f278";
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.sub-menu > a:after {
  content: "\f273";
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}

.sub-menu > a:hover:before,
.sub-menu > a:hover:after {
  opacity: 1;
  filter: alpha(opacity=100);
}

.sub-menu.toggled > a:before,
.sub-menu.toggled > a:after {
  opacity: 1;
  filter: alpha(opacity=100);
}

.sub-menu.toggled > a:before {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}

.sub-menu.toggled > a:after {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.sub-menu .sub-menu > a:before,
.sub-menu .sub-menu > a:after {
  top: 5px;
}

.sub-menu ul {
  list-style: none;
  display: none;
  padding: 0;
}

.sub-menu ul > li > a {
  padding: 8px 25px 8px 75px;
  font-weight: 500;
  display: block;
  font-weight: 700;
}

.sub-menu ul > li:first-child > a {
  padding-top: 14px;
}

.sub-menu ul > li:last-child > a {
  padding-bottom: 16px;
}

.sub-menu ul > li ul {
  font-size: 12px;
  margin: 10px 0;
  background-color: #F3F3F3;
}

.sub-menu.active > ul {
  display: block;
}

.dropdown-menu {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 300ms;
  animation-duration: 300ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  padding: 10px 0;
  border-radius: 3px;
  top: -1px;
  margin: 0;
  border: 0;
}

.dropdown-menu > li > a {
  padding: 10px 20px;
  -webkit-transition: background-color;
  -o-transition: background-color;
  transition: background-color;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
}

.dropdown-menu.dm-icon > li > a > .zmdi {
  line-height: 100%;
  vertical-align: top;
  font-size: 18px;
  width: 28px;
}
.dropdown-menu{
    width: 100%;
}
.dropdown-menu {

  display: none;
  float: left;
  list-style: none;
  font-size: 13px;
  text-align: left;
  background-color: #ffffff;
  border-radius: 2px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}

.dropdown-menu.pull-right {
  right: 0;
  left: auto;
}

.dropdown-menu .divider {
  height: 1px;
  margin: 8px 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.08);
}

.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #5e5e5e;
  white-space: nowrap;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  text-decoration: none;
  color: #333333;
  background-color: rgba(0, 0, 0, 0.075);
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #333333;
  text-decoration: none;
  outline: 0;
  background-color: rgba(0, 0, 0, 0.075);
}

.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  color: #e4e4e4;
}

.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  cursor: not-allowed;
}

.open > .dropdown-menu {
  display: block;
}

.open > a {
  outline: 0;
}

.dropdown-menu-right {
  left: auto;
  right: 0;
}

.dropdown-menu-left {
  left: 0;
  right: auto;
}
